<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ArticleDBConnectionString" connectionString="Data Source=vguviethung.database.windows.net;Initial Catalog=VGU;Integrated Security=False;User ID=viethung;Password=Vh95kingsssss;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>