USE [master]
GO
/****** Object:  Database [ArticleDB]    Script Date: 4/16/2017 1:40:05 AM ******/
CREATE DATABASE [ArticleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArticleDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ArticleDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ArticleDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ArticleDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArticleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArticleDB]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 4/16/2017 1:40:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleName] [varchar](50) NOT NULL,
	[ArticleNumber] [varchar](50) NULL,
	[Storage] [varchar](50) NULL,
	[ShelfNumber] [varchar](50) NULL,
	[BrandOfManufacturer] [varchar](50) NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[ArticleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
